[submodule "public"]
	path = public
	url = git@github.com:mnihalm/mnihalm.github.io.git
	branch = master
[submodule "themes/hugo-future-imperfect-slim"]
	path = themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
